 h1 {
    color: hwb(348 24% 25%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;
    height: 40px;
    margin: auto;
    border: 8px double white;
}
h2 {
    color: rgb(0, 39, 158);
    font-family:'Times New Roman', Times, serif;
    width: 120px;
    height: 30px;
    margin: auto;
    border: 8px double rgb(65, 0, 81); 
}
body {
    background-color: rgb(110, 110, 110);
}
p {
    color: #210059;
    font-size:large;
}
a {
    text-decoration: none;
    color: aquamarine;
}

li {
    color: rgb(113, 50, 124);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}